// Styles

// Main styles

@import "./app.scss";

// Adminto Icons
@import "./icons.scss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
thead th:first-child{border-top-left-radius: 10px; }
thead th:last-child{border-top-right-radius: 10px;}
.filter-dropdown{
	max-width: fit-content;
}
.filter-dropdown::before {
	border-bottom: 9px solid rgba(0, 0, 0, 0.2);
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	right: 17px;
	position: absolute;
	top: -8px;
}
.filter-dropdown::after {
	border-bottom: 8px solid #FFFFFF;
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	right: 17px;
	position: absolute;
	top: -7px;
}
tfoot tr td:first-child{border-bottom-left-radius: 7px;border-top-left-radius: 7px }
tfoot tr td:last-child{border-bottom-right-radius: 7px;border-top-right-radius: 7px}// thead :last-child{border-bottom-right-radius: 10px;}
tfoot tr td{border:0}

.icon {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
}

.counter {
	font-size: 50px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: rgb(0, 0, 0);
}
.stats-container {
	margin: 20px;
	background-color: #fff;
	min-width: 200px;
	height: 109px;
	border-radius: 12px 12px 0 0;
	position: relative;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	// max-width: 200px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.stats-container.orange {
	border-bottom: 5px solid #fca311;
}
.stats-container.blue {
	border-bottom: 5px solid #0096c7;
}
.stats-container.red {
	border-bottom: 5px solid #e63946;
}
.stats-container.orange i {
	color: #fca311;
}
.stats-container.red i {
	color: #e63946;
}
.stats-container.blue i {
	color: #0096c7;
}

.stats-container h4 {
	position: absolute;
	bottom: -10px;
	font-weight: 400;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	color: #888888;
}

.readonlyInput{
    outline: 0;
    border-width: 0 0 1px;
    border-color: gray;
}
.readonlyInput:focus{
	border-color: black
}
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.chips{
	width: fit-content;
	padding: 10px;
	background: #f1f1f1;
	border-radius: 23px;
	font-weight: bold;
}
.shadowCard{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.bg-fb{
	background-color: #fbfbfb;
}
.inputNotStyle{
	border: none;
	background: transparent;
	font-weight: bolder;
	color: black!important;	
}
.react-select__input-container{
	color: black!important;

}
.data-grid-select{
	.react-select__control{
		background-color: transparent!important;
		// font-size: 50px ;
		// max-width: 50px;
	}
}
body[data-layout-color="dark"] {

	.bg-fb{
		background-color: #282e38;
	}
	.inputNotStyle{
		border: none;
		background: transparent;
		font-weight: bolder;
		color: white;
	}
	.react-select__input-container{
		color: #888888!important;

	}

}
.PhoneInputInput{
	display: block;
	width: 100%;
	padding: 0.45rem 0.9rem;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--ct-input-color);
	background-color: var(--ct-input-bg);
	background-clip: padding-box;
	border: 1px solid var(--ct-input-border-color);
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0.2rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}