//
// user-variables.scss
// Use this to overwrite Bootstrap and Dashui variables
//
// Example of a variable override to change Dashui primary color
// Remove the "//" to comment it in and see it in action!
// $primary: #000;

/* ===== Scrollbar CSS ===== */
/* Firefox */
.nav-scroller {
  scrollbar-width: auto;
  scrollbar-color: #64707c #f7f7f7;
}

/* Chrome, Edge, and Safari */
.nav-scroller::-webkit-scrollbar {
  width: 7px;
}

.nav-scroller::-webkit-scrollbar-track {
  background: transparent;
}

.nav-scroller::-webkit-scrollbar-thumb {
  background-color: #64707c;
  border-radius: 7px;
  border: 3px solid #64707c;
}

/* CUSTOM STYLES */
a:hover {
  cursor: pointer;
}
