$orange: rgb(237, 95, 31);
$white: rgb(255, 255, 255);

.text {
    &-orange {
        color: $orange;

        // &:is(.active, :active, :hover, :focus, .show) {
        //     color: $orange;
        // }
    }
}

.btn {
    &-orange {
        background-color: $orange;
        color: $white;

        &:is(:active, .active, :focus) {
            background-color: $orange;
            color: $white;
        }

        &:hover {
            background-color: rgba($orange, 0.9);
            color: $white;
        }

        &:is(.disabled, :disabled) {
            background-color: rgba($orange, 0.65);
            color: $white;
        }
    }

    &-outline-orange {
        border-color: $orange;
        color: $orange;

        &:is(.active, :active, :hover) {
            background-color: $orange !important;
            border-color: $orange !important;
            color: $white !important;
        }
    }

    &-active-orange {
        background-color: inherit;

        &:hover {
            background-color: rgba($orange, 0.9);
            color: $white;
        }

        &:is(.active, :active, :focus) {
            background-color: $orange !important;
            color: $white !important;
        }
    }
}

.color {
    &-orange:is(.active, :active, :hover, :focus, .show) {
        color: $orange !important;
    }
}

.form-control:focus {
    border-color: $orange;
}