// $orange: rgb(237, 95, 31);
// $white: rgb(255, 255, 255);

// .text {
//     &-orange {
//         color: $orange;

//         // &:is(.active, :active, :hover, :focus, .show) {
//         //     color: $orange;
//         // }
//     }
// }

// .btn {
//     &-orange {
//         background-color: $orange;
//         color: $white;

//         &:is(:active, .active, :focus) {
//             background-color: $orange;
//             color: $white;
//         }

//         &:hover {
//             background-color: rgba($orange, 0.9);
//             color: $white;
//         }

//         &:is(.disabled, :disabled) {
//             background-color: rgba($orange, 0.65);
//             color: $white;
//         }
//     }

//     &-outline-orange {
//         border-color: $orange;
//         color: $orange;

//         &:is(.active, :active, :hover) {
//             background-color: $orange !important;
//             border-color: $orange !important;
//             color: $white !important;
//         }
//     }

//     &-active-orange {
//         background-color: inherit;

//         &:hover {
//             background-color: rgba($orange, 0.9);
//             color: $white;
//         }

//         &:is(.active, :active, :focus) {
//             background-color: $orange !important;
//             color: $white !important;
//         }
//     }
// }

// .color {
//     &-orange:is(.active, :active, :hover, :focus, .show) {
//         color: $orange !important;
//     }
// }

// .form-control:focus {
//     border-color: $orange;
// }

// :root {
//   --#{$prefix}dropdown-item-border-radius: .25rem;
// }

// #topbar .dropdown-item {
//   width: auto;
// }

#topbar .dropdown .dropdown-menu {
  margin-top: 0 !important;
}

#topbar .dropend .dropdown-menu {
  margin-left: 0;
}

#topbar .dropdown .dropdown-toggle::after {
  display: inline-block;
  position: relative;
  content: "";
  top: 0;
  right: 0;
  margin-left: auto;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-color: inherit;
  border-top: 0;
  border-left: 0;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

#topbar .dropend .dropdown-toggle::after {
  display: inline-block;
  position: relative;
  content: "";
  top: 0;
  right: 0;
  margin-left: auto;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-color: inherit;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

@media screen and (max-width: 1024px) {
  #topbar .dropdown-menu {
    border: none;
  }
}

@media screen and (min-width: 1024px) {
  #topbar .dropdown-item {
    margin: 0 0.3rem;
    width: auto;
  }

  #topbar .dropdown-menu.show {
    display: none;
  }

  #topbar .dropdown:hover > .dropdown-menu,
  #topbar .dropend:hover > .dropdown-menu {
    display: block;
  }

  #topbar .dropend .dropdown-toggle::after {
    transform: rotate(-45deg);
  }
}

// .react-datepicker-wrapper {
//   display: block;
// }
