/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"); */

:root {
  --orange-color-100: rgba(237, 95, 31, 1);
  --orange-color-90: rgba(237, 95, 31, 0.9);
  --orange-color-80: rgba(237, 95, 31, 0.8);
  --orange-color-65: rgba(237, 95, 31, 0.65);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* font-family: "Manrope", sans-serif; */
  background-color: var(--bs-tertiary-bg, #f9f9f9);
}

/* ! DARK MODE */
[data-bs-theme="dark"] body {
  background-color: var(--bs-tertiary-bg, #2b3035);
  /* --background-color: #212a2e;
  --text-color: #F7F8F8;
  --link-color: #828fff; */
}

/* ! CURSOR */
.cursor-pointer {
  cursor: pointer;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

label ~ input.form-control,
label ~ select.form-select,
label ~ div input.form-control {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

span,
a,
button {
  text-decoration: none;
  /* color: #666; */
  transition: all 0.4s ease !important;
  -webkit-transition: all 0.4s ease !important;
  -moz-transition: all 0.4s ease !important;
}

a {
  color: var(--orange-color-80);
}

a:is(:hover, .active) {
  color: var(--orange-color-100);
}

input {
  caret-color: var(--orange-color-100);
}

input[type="checkbox"] {
  border: 1px solid var(--orange-color-100) !important;
}

input[type="checkbox"]:checked {
  background-color: var(--orange-color-100);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ! CUSTOM CLASS STYLES */
.z-index-1010 {
  z-index: 1010;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 992px) {
  .text-small {
    font-size: 0.875em;
  }
}

#menuItemCard img,
#favoriteItemCard img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

#header ~ .min-vh-100 {
  min-height: calc(100vh - 59px) !important;
}

@media (max-width: 992px) {
  #sidebar ~ .min-vh-100 {
    padding-bottom: calc(68px + 1rem) !important;
  }
  #header ~ .min-vh-100 {
    padding-bottom: calc(77px + 1rem) !important;
  }
  #header .navbar-nav {
    overflow: auto;
  }
}

@media (min-width: 992px) {
  .h-lg-100 {
    height: 100%;
  }
}

/*! HEADER  */
/* @media (max-width: 992px) {
  .header {
    position: fixed !important;
    right: 0;
    bottom: 0;
    left: 0;
  }
} */

/* ! PAGINATION */
.pagination-list button {
  color: #081828;
}

.pagination-list button:is(:hover, .active) {
  background-color: var(--orange-color-100);
  color: #fff;
  /* border-color: transparent; */
}

@media (max-width: 992px) {
  .pagination-list button:nth-child(n + 5):not(:last-child) {
    display: none !important;
  }
}

.productListBtn {
  width: 40px;
  height: 40px;
}

.counterBtn button {
  width: 2rem;
}

.counterBtn input {
  flex-grow: 0 !important;
  min-width: 3rem !important;
}

/* .counterBtn input {
  flex-grow: 0 !important;
  width: 70px !important;
} */

/* ! HEADER */
.fixed-top {
  position: fixed;
  animation: sticky-transition-show 0.2s forwards linear;
}

@keyframes sticky-transition-show {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ! DROPDOWN */
/* .dropdown .dropdown-menu {
  right: 0;
  // left: auto;
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(32px);
}

.dropdown.dropup .dropdown-menu {
  transform: translateY(-4rem);
}

.dropdown .dropdown-menu.show,
.dropdown.dropup .dropdown-menu.show {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transition-property: visibility, opacity, transform;
  visibility: visible;
  opacity: 1;
  transform: translateY(7px);
  width: 240px;
} */

/* ! OFFCANVAS */
.offcanvas {
  width: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.offcanvas.show {
  width: var(--bs-offcanvas-width);
}

.offcanvas .cartNav a[active="true"] {
  background-color: #0167f3;
}

/* ! ACCORDION  */
.accordion-body {
  padding: 0;
}

/* ! SCROLL TO TOP */
#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
}

#scrollToTop.unvisible {
  visibility: hidden;
  opacity: 0;
}

/* ! AUTH */
.bgLogin {
  background-image: url("../images/2.jpg");
  background-size: cover;
  background-position: 70%;
}

/* ! CATEGORY */
.categoryCard {
  top: 5rem;
}

.categoryCard button svg {
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 992px) {
  .categoryCard button.active svg {
    transform: rotate(-90deg);
    opacity: 1;
    visibility: visible;
  }

  #categoryList ~ .collapse {
    display: block !important;
  }
}

/* ! ORANGE COLOR */
.bg-orange {
  background-color: var(--orange-color-100) !important;
}

.border-orange {
  border-color: var(--orange-color-100);
}

.text-orange {
  color: var(--orange-color-100);
}

.text-orange:is(.active, :active, :hover, :focus, .show) {
  color: var(--orange-color-100);
}

.btn-orange {
  background-color: var(--orange-color-100);
  border-color: var(--orange-color-100);
  color: #fff;
}

.btn-orange:is(:active, .active, :focus, .show) {
  outline: 0;
  background-color: var(--orange-color-100) !important;
  border-color: var(--orange-color-100) !important;
  color: #fff !important;
}

.btn-orange:hover {
  background-color: var(--orange-color-90) !important;
  color: #fff !important;
}

.btn-orange.disabled,
.btn-orange:disabled {
  background-color: var(--orange-color-65);
  border-color: var(--orange-color-65);
  color: #fff;
}

.btn-outline-orange {
  border-color: var(--orange-color-100);
  color: var(--orange-color-100);
}

.btn-outline-orange.disabled,
.btn-outline-orange:disabled {
  border-color: var(--orange-color-65);
  color: var(--orange-color-65);
}

.btn-outline-orange:is(.active, :active, :hover, :focus-visible) {
  background-color: var(--orange-color-100) !important;
  border-color: var(--orange-color-100) !important;
  color: #fff !important;
}

.btn-active-orange {
  color: var(--bs-heading-color);
}

.btn-active-orange:hover {
  color: #fff;
  background-color: var(--orange-color-90);
}

.btn-active-orange:is(.active, :active, :focus) {
  color: #fff !important;
  background-color: var(--orange-color-100) !important;
}

.color-orange:is(.active, :active, :hover, .show, [aria-expanded="true"]) {
  color: var(--orange-color-100) !important;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--orange-color-100);
}

/* 
Inputlar için
"&:focus": {
      border: "1px solid #ff8b67",
      boxShadow: "0px 0px 6px #ff8b67",
    },
*/

/* ! SCROLL SNAP */
@media (max-width: 992px) {
  .scroll-snap {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    scroll-snap-type: x mandatory;
    overflow: auto hidden;
    overscroll-behavior-x: contain;
  }

  .scroll-snap > * {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 100% !important;
  }
}

/* ! MAX HEIGHT ORDER LIST */
@media (min-width: 992px) {
  .maxHeight30vh {
    max-height: 30vh;
    overflow: hidden auto;
  }
  .maxHeight75vh {
    max-height: 75vh;
    overflow: hidden auto;
  }
}

/* ! POS MENU MOBILE SCREEN ITEM */
.first,
.second {
  width: 4px;
  top: 20%;
  bottom: 30%;
}

/* ! TABLES */
:is(.reportTableTwoColumns, .reportTableThreeColumns) tbody tr td {
  white-space: nowrap !important;
}
.reportTableTwoColumns tbody tr td:first-child {
  width: 80%;
}
.reportTableTwoColumns tbody tr td:not(:first-child) {
  width: 20%;
}

.reportTableThreeColumns tbody tr td:first-child {
  width: 60%;
}
.reportTableThreeColumns tbody tr td:not(:first-child) {
  width: 20%;
}

/* ! SHOW PASSWORD BUTTON */
#showPassword {
  color: var(--bs-body-color);
}

label ~ div:has(input:focus ~ .btn#showPassword) {
  border-color: var(--orange-color-100) !important;
}